 <div id="dashboard">
<div id="dash_button">
<%= button_to "Meditate", meditations_path, id: "med",class: "btn btn-lg btn-default", method: "get" %>

<%= button_to "View History", meditations_path, id: "view",class: "btn btn-lg btn-default", method: "get" %>
</div>

      </div>