/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";
body{
	background-color: #a8391b;

}
.span5{
	background-color: black;
}
#home_page{
	background: url(/assets/homepage.jpg) no-repeat;
	background-size:320px 568px;
	height:568px;
	width: 320px;

}
#emotion_button{
	margin: 0 auto;
	margin-top: 230px;
	margin-left: 50px;
}
.btn-primary{
	background-color:transparent;
	z-index:-999;
	font-size: 12px;
	border: none;
}
 .btn-default{
	background-color:transparent;
		font-size: 12px;
			border: none;
			color: white;


}
 .btn-success{
	background-color:transparent;
		font-size: 12px;
			border: none;
}
#normal{
	margin-left: 10px;
}
#sad{
	margin-left: 15px;
}
#second_button{
	margin-top: 70px;
}
#third_button{
	margin-top: 50px;
}
#first_button{
	margin-top: 60px;
}