<!DOCTYPE html>
<html ng-app="htbaApp">
<head>
  <title>HowToBeAlone</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

<%= yield %>

</body>
</html>
